@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-text-color: #555;
    --text-color: #333;
    --main-color: #00abf0;
    --main-color-2: #006e9a;
    --white-color: #fff;
    --white-color-2: #ddd;
    --cover-color: linear-gradient(45deg, var(--main-color) , var(--main-color-2) );
    --pages-color: linear-gradient(90deg, var(--white-color) , var(--white-color-2) );
    --border: .125rem solid var(--main-color);
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.2);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}


.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    background: red;
}

.cover{
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
}










